body {
  padding: 10px 50px 50px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("/static/img/library.jpg");
  background-size: cover;
  background-position-y: 10%;
  font-family: "Josefin Sans", sans-serif;
}

a {
  color: #191923;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

a:hover {
  color: #bf1363;
}

a.button,
input[type="submit"] {
  color: white;
  background: #f39237;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}
h1 {
  color: #fbfef9;
}
form a.button,
input[type="submit"] {
  transition: 0.4s;
}

input[type="submit"] {
  border: 0;
}

a.button:hover,
input[type="submit"]:hover {
  background-color: #0e79b2;
}

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #0e79b2;
  text-align: left;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #0e79b2;
  border-radius: 10px;
}
tr:nth-child(2n) a {
  color: #f39237;
}

td,
th {
  padding: 10px 20px 10px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
  color: #fbfef9;
}

input {
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  border: 0;
  transition: 0.4s;
}

input[type="text"] {
  width: 300px;
  min-height: 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.error {
  color: rgb(236, 15, 15);
}

/** Table **/
table {
  background-color: #fbfef9;
  margin-top: 20px;
}
tr,
table,
td {
  border-radius: 10px;
}
/** Container **/

.container,
.container-error {
  display: flex;
  flex-direction: column;
}
.container-error {
  min-height: calc(100vh - 100px);
  justify-content: center;
  align-items: center;
  color: #fbfef9;
}

.search-form {
  display: flex;
}
.search-form label {
  color: #fbfef9;
}
.search-form input[type="submit"] {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  min-height: 20px;
  padding: 12px;
  transform: translateY(1.5px);
  font-weight: bold;
}
.form-group {
  display: block;
}
.search-submit {
  justify-self: flex-start;
  width: 100px;
}
.pages {
  display: flex;
}
.page {
  background-color: #fbfef9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin: 5px;
}
.active {
  background-color: #bf1363;
  color: #e7e7e7;
}
